rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Function to check if the user is an admin by checking Firestore
    function isAdmin() {
      return exists(/databases/(default)/documents/admins/$(request.auth.uid));
    }

    // Public files are readable by anyone
    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if false; // No public writes
    }

    // Tour media can be read by anyone, but only written by admins
    match /tours/{tourId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin();
    }
    
    // Fallback: deny all other access
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
